<page-header title="Aktiva Användare" [nav]="['home', 'Aktiva användare']" />

<mat-tab-group class="active-users-tabs" [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="Aktiv Tid">
    <canvas
      class="active-users-chart"
      baseChart
      [type]="'line'"
      [data]="activeTimeChartData"
      [options]="activeTimeChartOptions">
    </canvas>
  </mat-tab>
  <mat-tab label="Aktiv Antal">
    <canvas
      class="active-users-chart"
      baseChart
      [type]="'line'"
      [data]="activeCountChartData"
      [options]="activeCountChartOptions">
    </canvas>
  </mat-tab>
</mat-tab-group>

<div class="active-users-filters">
  <mat-checkbox
    class="all-programs-checkbox"
    [checked]="showAllPrograms"
    (change)="onAllProgramsToggle($event.checked)"
  >
    Alla
  </mat-checkbox>
  <mat-checkbox
    class="mtkurs-checkbox"
    [checked]="showMatkurs"
    (change)="onMatkursToggle($event.checked)"
  >
    MätKurs
  </mat-checkbox>
  <mat-checkbox>IsoIntro</mat-checkbox>
  <mat-checkbox>IsoKurs</mat-checkbox>
  <mat-checkbox>MekMät</mat-checkbox>
  <mat-checkbox>CncSim</mat-checkbox>
</div>

<mat-form-field class="company-dropdown" appearance="outline">
  <mat-label>Företag</mat-label>
  <mat-select [(value)]="selectedCompanyId" (valueChange)="onCompanySelectionChange($event)">
    <mat-select-trigger>
      <div class="company-option-row company-option-row-trigger">
        <span class="company-option-name">{{ selectedCompanyOption?.companyLabel }}</span>
        <span class="company-option-minutes">{{ selectedCompanyOption?.minutesLabel }}</span>
      </div>
    </mat-select-trigger>
    @for (companyOption of companyOptions; track companyOption.id) {
      <mat-option [value]="companyOption.id">
        <div class="company-option-row">
          <span class="company-option-name">{{ companyOption.companyLabel }}</span>
          <span class="company-option-minutes">{{ companyOption.minutesLabel }}</span>
        </div>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
